.side-nav{
    background: rgba(0,0,0,0.25);
    /* background: rgba(16, 22, 35, 0.5); */
    height: 100%;
    color: rgba(203, 212, 231, 1);
    /* border-right: 0.01em solid rgba(203, 212, 231, 0.55); */
}
.side-nav ul {
    padding: 1em 0;
    list-style-type: none;
    text-align: center;
    font-size: 1.1em;
}
.side-nav ul li {
    padding: 0.5em 0;
}

.side-nav ul li:hover {
    color: rgba(238, 241, 247, 0.9);
    cursor: pointer;
    /* background: rgb(31, 50, 71); */
    background: rgb(47, 75, 106);
}