body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    /* background: linear-gradient(#141e30, #243b55);   */
}

.wrapper {
    /* background: linear-gradient(#141e30, #243b55); */
    /* background: linear-gradient(#172236, #2e4a6b); */
    background: linear-gradient(#1f2d47, #35577e);
    min-height: 100vh;
}

#logo {
    opacity: 0.75;
}

#logo-wrapper {
    /* max-height: 20em; */
}